In [1]:
import pandas as pd
wdi=pd.read_csv('world_development_indicators.csv')
wdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 446 entries, 0 to 445
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    446 non-null    object
 1   access_to_electricity_pct       446 non-null    float64
 2   atms_per_100000                 417 non-null    float64
 3   compulsory_education_years      424 non-null    float64
 4   health_expenditure_pct_of_gdp   439 non-null    float64
 5   gdp_per_capita_usd              446 non-null    float64
 6   gdp_per_capita_ppp              446 non-null    float64
 7   life_expectancy_female          446 non-null    float64
 8   life_expectancy_male            446 non-null    float64
 9   life_expectancy                 446 non-null    float64
 10  population_density              444 non-null    float64
 11  population                      446 non-null    float64
 12  alcohol_consumption_per_capita  220 non-null    float64
 13  unemployment_rate_female        446 non-null    float64
 14  unemployment_rate_male          446 non-null    float64
 15  unemployment_rate               446 non-null    float64
 16  year                            446 non-null    int64
 17  Country Name                    446 non-null    object
 18  Country Code                    446 non-null    object
 19  country_category                289 non-null    object
 20  is_region                       446 non-null    int64
 21  planet                          446 non-null    object
dtypes: float64(15), int64(2), object(5)
memory usage: 76.8+ KB

In [3]:
#colmn analusis
#some columns seem to be repeatind

print(wdi[['country_name','Country Name','Country Code','planet']].head())
print(wdi.nunique())

  country_name Country Name Country Code planet
0  Afghanistan  Afghanistan          AFG  Earth
1      Albania      Albania          ALB  Earth
2      Algeria      Algeria          DZA  Earth
3       Angola       Angola          AGO  Earth
4   Arab World   Arab World          ARB  Earth
country_name                      217
access_to_electricity_pct         240
atms_per_100000                   359
compulsory_education_years         16
health_expenditure_pct_of_gdp     421
gdp_per_capita_usd                430
gdp_per_capita_ppp                430
life_expectancy_female            390
life_expectancy_male              402
life_expectancy                   425
population_density                428
population                        430
alcohol_consumption_per_capita    204
unemployment_rate_female          422
unemployment_rate_male            430
unemployment_rate                 428
year                                2
Country Name                      217
Country Code                      217
country_category                    2
is_region                           2
planet                              1
dtype: int64

In [5]:
#needed?
print(wdi['planet'].value_counts())
wdi['planet'].value_counts(normalize=True)
print(wdi[wdi['country_name']!=wdi['Country Name']])
print(wdi['country_name'].compare(wdi['Country Code']))

planet
Earth    446
Name: count, dtype: int64
Empty DataFrame
Columns: [country_name, access_to_electricity_pct, atms_per_100000, compulsory_education_years, health_expenditure_pct_of_gdp, gdp_per_capita_usd, gdp_per_capita_ppp, life_expectancy_female, life_expectancy_male, life_expectancy, population_density, population, alcohol_consumption_per_capita, unemployment_rate_female, unemployment_rate_male, unemployment_rate, year, Country Name, Country Code, country_category, is_region, planet]
Index: []

[0 rows x 22 columns]
                     self other
0             Afghanistan   AFG
1                 Albania   ALB
2                 Algeria   DZA
3                  Angola   AGO
4              Arab World   ARB
..                    ...   ...
441               Ukraine   UKR
442           Philippines   PHL
443             Indonesia   IDN
444  United Arab Emirates   ARE
445               Comoros   COM

[446 rows x 2 columns]

In [6]:
#ok to drop these >...............
wdi=wdi.drop(columns=['Country Name','Country Code','planet'])
print(wdi.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 446 entries, 0 to 445
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    446 non-null    object
 1   access_to_electricity_pct       446 non-null    float64
 2   atms_per_100000                 417 non-null    float64
 3   compulsory_education_years      424 non-null    float64
 4   health_expenditure_pct_of_gdp   439 non-null    float64
 5   gdp_per_capita_usd              446 non-null    float64
 6   gdp_per_capita_ppp              446 non-null    float64
 7   life_expectancy_female          446 non-null    float64
 8   life_expectancy_male            446 non-null    float64
 9   life_expectancy                 446 non-null    float64
 10  population_density              444 non-null    float64
 11  population                      446 non-null    float64
 12  alcohol_consumption_per_capita  220 non-null    float64
 13  unemployment_rate_female        446 non-null    float64
 14  unemployment_rate_male          446 non-null    float64
 15  unemployment_rate               446 non-null    float64
 16  year                            446 non-null    int64
 17  country_category                289 non-null    object
 18  is_region                       446 non-null    int64
dtypes: float64(15), int64(2), object(2)
memory usage: 66.3+ KB
None

In [16]:
#row analysis
print(wdi.duplicated())
print(wdi[wdi.duplicated()])
print(wdi.drop_duplicates(ignore_index=True))
wdi=wdi.drop_duplicates(ignore_index=True)
wdi.info()

0      False
1      False
2      False
3      False
4      False
       ...
429    False
430    False
431    False
432    False
433    False
Length: 434, dtype: bool
Empty DataFrame
Columns: [country_name, access_to_electricity_pct, atms_per_100000, compulsory_education_years, health_expenditure_pct_of_gdp, gdp_per_capita_usd, gdp_per_capita_ppp, life_expectancy_female, life_expectancy_male, life_expectancy, population_density, population, alcohol_consumption_per_capita, unemployment_rate_female, unemployment_rate_male, unemployment_rate, year, country_category, is_region]
Index: []
           country_name  access_to_electricity_pct  atms_per_100000  \
0           Afghanistan                  97.700000         1.213235
1               Albania                 100.000000        31.714076
2               Algeria                 100.000000         9.130677
3                Angola                  41.962894        19.079250
4            Arab World                  90.283638        27.360620
..                  ...                        ...              ...
429             Vietnam                 100.000000        25.322499
430  West Bank and Gaza                 100.000000        24.735190
431               World                  89.588551        40.949620
432              Zambia                  39.812622        11.554664
433            Zimbabwe                  41.041584         6.625208

     compulsory_education_years  health_expenditure_pct_of_gdp  \
0                           9.0                      11.777236
1                           9.0                       5.010597
2                          10.0                       6.380329
3                           6.0                       2.791503
4                           9.0                       5.561266
..                          ...                            ...
429                        10.0                       5.917897
430                        10.0                            NaN
431                        10.0                       9.848779
432                         7.0                       4.934843
433                         7.0                       4.734331

     gdp_per_capita_usd  gdp_per_capita_ppp  life_expectancy_female  \
0            519.884773         2058.383832               65.656000
1           4531.020806        13037.010016               80.148000
2           4111.294110        11737.409353               77.735000
3           4095.812942         7310.901738               63.252000
4           6108.588220        14562.367966               73.493366
..                  ...                 ...                     ...
429         2566.596950         7771.189420               79.442000
430         3562.330943         6472.121785               75.595000
431        11385.675227        17025.827360               74.871815
432         1516.390661         3607.304442               66.447000
433         1683.740577         3206.277079               62.598000

     life_expectancy_male  life_expectancy  population_density    population  \
0               62.701000        64.130000           55.595993  3.629640e+07
1               76.601000        78.333000          104.870693  2.873457e+06
2               75.307000        76.499000           17.377715  4.138920e+07
3               57.677000        60.379000           23.916538  2.981675e+07
4               69.921250        71.622526           36.669804  4.118990e+08
..                    ...              ...                 ...           ...
429             71.207000        75.317000          308.125246  9.554040e+07
430             72.263000        73.895000          758.984551  4.569087e+06
431             70.398743        72.563282           59.617978  7.591945e+09
432             60.533000        63.510000           23.341479  1.735182e+07
433             59.501000        61.195000           37.324591  1.443902e+07

     alcohol_consumption_per_capita  unemployment_rate_female  \
0                               NaN                 14.090000
1                               NaN                 12.563000
2                               NaN                 21.114000
3                               NaN                  7.467000
4                               NaN                 20.361396
..                              ...                       ...
429                         8.66000                  1.831000
430                             NaN                 41.849998
431                         6.18124                  5.580954
432                         6.54000                 12.448000
433                         4.67000                  5.598000

     unemployment_rate_male  unemployment_rate  year country_category  \
0                 10.416000          11.184000  2017       DEVELOPING
1                 14.590000          13.750000  2017       DEVELOPING
2                 10.021000          11.996000  2017       DEVELOPING
3                  6.769000           7.119000  2017       DEVELOPING
4                  8.097088          10.641313  2017              NaN
..                      ...                ...   ...              ...
429                2.142000           1.993000  2018       DEVELOPING
430               22.393999          26.256001  2018       DEVELOPING
431                5.271615           5.392213  2018              NaN
432               10.614000          11.500000  2018       DEVELOPING
433                4.555000           5.087000  2018       DEVELOPING

     is_region
0            0
1            0
2            0
3            0
4            1
..         ...
429          0
430          0
431          1
432          0
433          0

[434 rows x 19 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    434 non-null    object
 1   access_to_electricity_pct       434 non-null    float64
 2   atms_per_100000                 406 non-null    float64
 3   compulsory_education_years      412 non-null    float64
 4   health_expenditure_pct_of_gdp   427 non-null    float64
 5   gdp_per_capita_usd              434 non-null    float64
 6   gdp_per_capita_ppp              434 non-null    float64
 7   life_expectancy_female          434 non-null    float64
 8   life_expectancy_male            434 non-null    float64
 9   life_expectancy                 434 non-null    float64
 10  population_density              432 non-null    float64
 11  population                      434 non-null    float64
 12  alcohol_consumption_per_capita  215 non-null    float64
 13  unemployment_rate_female        434 non-null    float64
 14  unemployment_rate_male          434 non-null    float64
 15  unemployment_rate               434 non-null    float64
 16  year                            434 non-null    int64
 17  country_category                282 non-null    object
 18  is_region                       434 non-null    int64
dtypes: float64(15), int64(2), object(2)
memory usage: 64.6+ KB

In [20]:
#verify that duplidcates are gome
print(wdi.shape)
print(wdi[wdi.duplicated()])

(434, 19)
Empty DataFrame
Columns: [country_name, access_to_electricity_pct, atms_per_100000, compulsory_education_years, health_expenditure_pct_of_gdp, gdp_per_capita_usd, gdp_per_capita_ppp, life_expectancy_female, life_expectancy_male, life_expectancy, population_density, population, alcohol_consumption_per_capita, unemployment_rate_female, unemployment_rate_male, unemployment_rate, year, country_category, is_region]
Index: []

In [21]:
#save the dataframe so that we can repen from trhis stage in the next code example
wdi.to_pickle('wdi.pkl')    #storing data frame current stage in pkl file

In [28]:
#missing data handling
import pandas as pd 
wdi = pd.read_pickle('wdi.pkl')
print(wdi.info()) #get the none - null count for each column

print(wdi['alcohol_consumption_per_capita'])
print(wdi.isna())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    434 non-null    object
 1   access_to_electricity_pct       434 non-null    float64
 2   atms_per_100000                 406 non-null    float64
 3   compulsory_education_years      412 non-null    float64
 4   health_expenditure_pct_of_gdp   427 non-null    float64
 5   gdp_per_capita_usd              434 non-null    float64
 6   gdp_per_capita_ppp              434 non-null    float64
 7   life_expectancy_female          434 non-null    float64
 8   life_expectancy_male            434 non-null    float64
 9   life_expectancy                 434 non-null    float64
 10  population_density              432 non-null    float64
 11  population                      434 non-null    float64
 12  alcohol_consumption_per_capita  215 non-null    float64
 13  unemployment_rate_female        434 non-null    float64
 14  unemployment_rate_male          434 non-null    float64
 15  unemployment_rate               434 non-null    float64
 16  year                            434 non-null    int64
 17  country_category                282 non-null    object
 18  is_region                       434 non-null    int64
dtypes: float64(15), int64(2), object(2)
memory usage: 64.6+ KB
None
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        ...
429    8.66000
430        NaN
431    6.18124
432    6.54000
433    4.67000
Name: alcohol_consumption_per_capita, Length: 434, dtype: float64
     country_name  access_to_electricity_pct  atms_per_100000  \
0           False                      False            False
1           False                      False            False
2           False                      False            False
3           False                      False            False
4           False                      False            False
..            ...                        ...              ...
429         False                      False            False
430         False                      False            False
431         False                      False            False
432         False                      False            False
433         False                      False            False

     compulsory_education_years  health_expenditure_pct_of_gdp  \
0                         False                          False
1                         False                          False
2                         False                          False
3                         False                          False
4                         False                          False
..                          ...                            ...
429                       False                          False
430                       False                           True
431                       False                          False
432                       False                          False
433                       False                          False

     gdp_per_capita_usd  gdp_per_capita_ppp  life_expectancy_female  \
0                 False               False                   False
1                 False               False                   False
2                 False               False                   False
3                 False               False                   False
4                 False               False                   False
..                  ...                 ...                     ...
429               False               False                   False
430               False               False                   False
431               False               False                   False
432               False               False                   False
433               False               False                   False

     life_expectancy_male  life_expectancy  population_density  population  \
0                   False            False               False       False
1                   False            False               False       False
2                   False            False               False       False
3                   False            False               False       False
4                   False            False               False       False
..                    ...              ...                 ...         ...
429                 False            False               False       False
430                 False            False               False       False
431                 False            False               False       False
432                 False            False               False       False
433                 False            False               False       False

     alcohol_consumption_per_capita  unemployment_rate_female  \
0                              True                     False
1                              True                     False
2                              True                     False
3                              True                     False
4                              True                     False
..                              ...                       ...
429                           False                     False
430                            True                     False
431                           False                     False
432                           False                     False
433                           False                     False

     unemployment_rate_male  unemployment_rate   year  country_category  \
0                     False              False  False             False
1                     False              False  False             False
2                     False              False  False             False
3                     False              False  False             False
4                     False              False  False              True
..                      ...                ...    ...               ...
429                   False              False  False             False
430                   False              False  False             False
431                   False              False  False              True
432                   False              False  False             False
433                   False              False  False             False

     is_region
0        False
1        False
2        False
3        False
4        False
..         ...
429      False
430      False
431      False
432      False
433      False

[434 rows x 19 columns]

In [30]:
#how many nulls in jeach column?
print(wdi.isna().sum())

country_name                        0
access_to_electricity_pct           0
atms_per_100000                    28
compulsory_education_years         22
health_expenditure_pct_of_gdp       7
gdp_per_capita_usd                  0
gdp_per_capita_ppp                  0
life_expectancy_female              0
life_expectancy_male                0
life_expectancy                     0
population_density                  2
population                          0
alcohol_consumption_per_capita    219
unemployment_rate_female            0
unemployment_rate_male              0
unemployment_rate                   0
year                                0
country_category                  152
is_region                           0
dtype: int64

In [33]:
#unique counts for each value for the alcohol_consumption_per capita cloumn
#note :
#this excludes numms by default
print(wdi["alcohol_consumption_per_capita"].value_counts())
print(wdi['alcohol_consumption_per_capita'].value_counts(dropna=False))

alcohol_consumption_per_capita
0.690000     3
9.230000     2
0.019000     2
0.682988     2
12.030000    2
            ..
1.110000     1
5.380000     1
6.890000     1
2.730000     1
4.670000     1
Name: count, Length: 204, dtype: int64
alcohol_consumption_per_capita
NaN          219
0.690000       3
9.230000       2
12.030000      2
0.682988       2
            ...
1.110000       1
5.380000       1
6.890000       1
2.730000       1
4.670000       1
Name: count, Length: 205, dtype: int64

In [36]:
#find nulls by rows 
print(wdi.isna())
print(wdi.isna().sum(axis=1))

     country_name  access_to_electricity_pct  atms_per_100000  \
0           False                      False            False
1           False                      False            False
2           False                      False            False
3           False                      False            False
4           False                      False            False
..            ...                        ...              ...
429         False                      False            False
430         False                      False            False
431         False                      False            False
432         False                      False            False
433         False                      False            False

     compulsory_education_years  health_expenditure_pct_of_gdp  \
0                         False                          False
1                         False                          False
2                         False                          False
3                         False                          False
4                         False                          False
..                          ...                            ...
429                       False                          False
430                       False                           True
431                       False                          False
432                       False                          False
433                       False                          False

     gdp_per_capita_usd  gdp_per_capita_ppp  life_expectancy_female  \
0                 False               False                   False
1                 False               False                   False
2                 False               False                   False
3                 False               False                   False
4                 False               False                   False
..                  ...                 ...                     ...
429               False               False                   False
430               False               False                   False
431               False               False                   False
432               False               False                   False
433               False               False                   False

     life_expectancy_male  life_expectancy  population_density  population  \
0                   False            False               False       False
1                   False            False               False       False
2                   False            False               False       False
3                   False            False               False       False
4                   False            False               False       False
..                    ...              ...                 ...         ...
429                 False            False               False       False
430                 False            False               False       False
431                 False            False               False       False
432                 False            False               False       False
433                 False            False               False       False

     alcohol_consumption_per_capita  unemployment_rate_female  \
0                              True                     False
1                              True                     False
2                              True                     False
3                              True                     False
4                              True                     False
..                              ...                       ...
429                           False                     False
430                            True                     False
431                           False                     False
432                           False                     False
433                           False                     False

     unemployment_rate_male  unemployment_rate   year  country_category  \
0                     False              False  False             False
1                     False              False  False             False
2                     False              False  False             False
3                     False              False  False             False
4                     False              False  False              True
..                      ...                ...    ...               ...
429                   False              False  False             False
430                   False              False  False             False
431                   False              False  False              True
432                   False              False  False             False
433                   False              False  False             False

     is_region
0        False
1        False
2        False
3        False
4        False
..         ...
429      False
430      False
431      False
432      False
433      False

[434 rows x 19 columns]
0      1
1      1
2      1
3      1
4      2
      ..
429    0
430    2
431    1
432    0
433    0
Length: 434, dtype: int64

In [39]:
#store this as a series
num_missing_by_row =wdi.isna().sum(axis=1)
print(num_missing_by_row>0)
print((num_missing_by_row>0).sum())
print(wdi.shape)

0       True
1       True
2       True
3       True
4       True
       ...
429    False
430     True
431     True
432    False
433    False
Length: 434, dtype: bool
319
(434, 19)

In [40]:
print(wdi[num_missing_by_row>0])

            country_name  access_to_electricity_pct  atms_per_100000  \
0            Afghanistan                  97.700000         1.213235
1                Albania                 100.000000        31.714076
2                Algeria                 100.000000         9.130677
3                 Angola                  41.962894        19.079250
4             Arab World                  90.283638        27.360620
..                   ...                        ...              ...
425  Upper middle income                  99.423212        54.376093
426              Uruguay                 100.000000       120.067132
428              Vanuatu                  61.864769        48.050330
430   West Bank and Gaza                 100.000000        24.735190
431                World                  89.588551        40.949620

     compulsory_education_years  health_expenditure_pct_of_gdp  \
0                           9.0                      11.777236
1                           9.0                       5.010597
2                          10.0                       6.380329
3                           6.0                       2.791503
4                           9.0                       5.561266
..                          ...                            ...
425                        10.0                       5.739787
426                        14.0                       9.202700
428                         NaN                       3.373726
430                        10.0                            NaN
431                        10.0                       9.848779

     gdp_per_capita_usd  gdp_per_capita_ppp  life_expectancy_female  \
0            519.884773         2058.383832               65.656000
1           4531.020806        13037.010016               80.148000
2           4111.294110        11737.409353               77.735000
3           4095.812942         7310.901738               63.252000
4           6108.588220        14562.367966               73.493366
..                  ...                 ...                     ...
425         8906.243876        16701.291315               78.040738
426        17277.970111        22116.786596               81.359000
428         3125.257989         3204.679541               71.990000
430         3562.330943         6472.121785               75.595000
431        11385.675227        17025.827360               74.871815

     life_expectancy_male  life_expectancy  population_density    population  \
0               62.701000        64.130000           55.595993  3.629640e+07
1               76.601000        78.333000          104.870693  2.873457e+06
2               75.307000        76.499000           17.377715  4.138920e+07
3               57.677000        60.379000           23.916538  2.981675e+07
4               69.921250        71.622526           36.669804  4.118990e+08
..                    ...              ...                 ...           ...
425             72.790446        75.328985           49.316919  2.837704e+09
426             73.958000        77.770000           19.708028  3.449299e+06
428             68.847000        70.323000           24.009844  2.926800e+05
430             72.263000        73.895000          758.984551  4.569087e+06
431             70.398743        72.563282           59.617978  7.591945e+09

     alcohol_consumption_per_capita  unemployment_rate_female  \
0                               NaN                 14.090000
1                               NaN                 12.563000
2                               NaN                 21.114000
3                               NaN                  7.467000
4                               NaN                 20.361396
..                              ...                       ...
425                        6.170874                  5.809633
426                        6.920000                 10.089000
428                        2.250000                  4.898000
430                             NaN                 41.849998
431                        6.181240                  5.580954

     unemployment_rate_male  unemployment_rate  year country_category  \
0                 10.416000          11.184000  2017       DEVELOPING
1                 14.590000          13.750000  2017       DEVELOPING
2                 10.021000          11.996000  2017       DEVELOPING
3                  6.769000           7.119000  2017       DEVELOPING
4                  8.097088          10.641313  2017              NaN
..                      ...                ...   ...              ...
425                5.812897           5.811807  2018              NaN
426                6.873000           8.336000  2018              NaN
428                3.958000           4.368000  2018       DEVELOPING
430               22.393999          26.256001  2018       DEVELOPING
431                5.271615           5.392213  2018              NaN

     is_region
0            0
1            0
2            0
3            0
4            1
..         ...
425          1
426          0
428          0
430          0
431          1

[319 rows x 19 columns]

In [42]:
#drop rows that contain missing values
print(wdi.dropna())
print(wdi.dropna().info())
print(wdi.dropna(axis=1))

       country_name  access_to_electricity_pct  atms_per_100000  \
217     Afghanistan                  98.713203         1.611932
218         Albania                 100.000000        30.638125
219         Algeria                 100.000000         9.204290
220          Angola                  43.259258        18.854410
223         Armenia                 100.000000        64.113400
..              ...                        ...              ...
423  United Kingdom                 100.000000       115.442057
427      Uzbekistan                 100.000000        28.035561
429         Vietnam                 100.000000        25.322499
432          Zambia                  39.812622        11.554664
433        Zimbabwe                  41.041584         6.625208

     compulsory_education_years  health_expenditure_pct_of_gdp  \
217                         9.0                       9.395727
218                         9.0                       5.262714
219                        10.0                       6.218427
220                         6.0                       2.549005
223                        12.0                      10.025390
..                          ...                            ...
423                        11.0                       9.996963
427                        12.0                       5.291491
429                        10.0                       5.917897
432                         7.0                       4.934843
433                         7.0                       4.734331

     gdp_per_capita_usd  gdp_per_capita_ppp  life_expectancy_female  \
217          493.750418         2083.321897                  66.026
218         5284.380184        13833.981603                  80.167
219         4153.733978        11925.798564                  77.938
220         3289.646664         7102.405887                  63.666
223         4220.490277        13024.694810                  78.354
..                  ...                 ...                     ...
423        43043.227816        46901.069860                  83.100
427         1529.082864         6920.044618                  73.676
429         2566.596950         7771.189420                  79.442
432         1516.390661         3607.304442                  66.447
433         1683.740577         3206.277079                  62.598

     life_expectancy_male  life_expectancy  population_density  population  \
217                63.047        64.486000           56.937760  37172386.0
218                76.816        78.458000          104.612263   2866376.0
219                75.494        76.693000           17.730075  42228429.0
220                58.064        60.782000           24.713052  30809762.0
223                71.215        74.945000          103.680225   2951776.0
..                    ...              ...                 ...         ...
423                79.500        81.256098          274.708982  66460344.0
427                69.445        71.573000           77.470851  32956100.0
429                71.207        75.317000          308.125246  95540395.0
432                60.533        63.510000           23.341479  17351822.0
433                59.501        61.195000           37.324591  14439018.0

     alcohol_consumption_per_capita  unemployment_rate_female  \
217                            0.21                 13.906000
218                            7.17                 11.229000
219                            0.95                 21.058001
220                            6.94                  7.327000
223                            5.55                 17.198999
..                              ...                       ...
423                           11.45                  3.940000
427                            2.59                  5.517000
429                            8.66                  1.831000
432                            6.54                 12.448000
433                            4.67                  5.598000

     unemployment_rate_male  unemployment_rate  year country_category  \
217               10.287000             11.057  2018       DEVELOPING
218               13.127000             12.340  2018       DEVELOPING
219                9.926000             11.882  2018       DEVELOPING
220                6.708000              7.019  2018       DEVELOPING
223               17.750999             17.496  2018       DEVELOPING
..                      ...                ...   ...              ...
423                4.045000              3.996  2018        DEVELOPED
427                5.887000              5.736  2018       DEVELOPING
429                2.142000              1.993  2018       DEVELOPING
432               10.614000             11.500  2018       DEVELOPING
433                4.555000              5.087  2018       DEVELOPING

     is_region
217          0
218          0
219          0
220          0
223          0
..         ...
423          0
427          0
429          0
432          0
433          0

[115 rows x 19 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 115 entries, 217 to 433
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    115 non-null    object
 1   access_to_electricity_pct       115 non-null    float64
 2   atms_per_100000                 115 non-null    float64
 3   compulsory_education_years      115 non-null    float64
 4   health_expenditure_pct_of_gdp   115 non-null    float64
 5   gdp_per_capita_usd              115 non-null    float64
 6   gdp_per_capita_ppp              115 non-null    float64
 7   life_expectancy_female          115 non-null    float64
 8   life_expectancy_male            115 non-null    float64
 9   life_expectancy                 115 non-null    float64
 10  population_density              115 non-null    float64
 11  population                      115 non-null    float64
 12  alcohol_consumption_per_capita  115 non-null    float64
 13  unemployment_rate_female        115 non-null    float64
 14  unemployment_rate_male          115 non-null    float64
 15  unemployment_rate               115 non-null    float64
 16  year                            115 non-null    int64
 17  country_category                115 non-null    object
 18  is_region                       115 non-null    int64
dtypes: float64(15), int64(2), object(2)
memory usage: 18.0+ KB
None
           country_name  access_to_electricity_pct  gdp_per_capita_usd  \
0           Afghanistan                  97.700000          519.884773
1               Albania                 100.000000         4531.020806
2               Algeria                 100.000000         4111.294110
3                Angola                  41.962894         4095.812942
4            Arab World                  90.283638         6108.588220
..                  ...                        ...                 ...
429             Vietnam                 100.000000         2566.596950
430  West Bank and Gaza                 100.000000         3562.330943
431               World                  89.588551        11385.675227
432              Zambia                  39.812622         1516.390661
433            Zimbabwe                  41.041584         1683.740577

     gdp_per_capita_ppp  life_expectancy_female  life_expectancy_male  \
0           2058.383832               65.656000             62.701000
1          13037.010016               80.148000             76.601000
2          11737.409353               77.735000             75.307000
3           7310.901738               63.252000             57.677000
4          14562.367966               73.493366             69.921250
..                  ...                     ...                   ...
429         7771.189420               79.442000             71.207000
430         6472.121785               75.595000             72.263000
431        17025.827360               74.871815             70.398743
432         3607.304442               66.447000             60.533000
433         3206.277079               62.598000             59.501000

     life_expectancy    population  unemployment_rate_female  \
0          64.130000  3.629640e+07                 14.090000
1          78.333000  2.873457e+06                 12.563000
2          76.499000  4.138920e+07                 21.114000
3          60.379000  2.981675e+07                  7.467000
4          71.622526  4.118990e+08                 20.361396
..               ...           ...                       ...
429        75.317000  9.554040e+07                  1.831000
430        73.895000  4.569087e+06                 41.849998
431        72.563282  7.591945e+09                  5.580954
432        63.510000  1.735182e+07                 12.448000
433        61.195000  1.443902e+07                  5.598000

     unemployment_rate_male  unemployment_rate  year  is_region
0                 10.416000          11.184000  2017          0
1                 14.590000          13.750000  2017          0
2                 10.021000          11.996000  2017          0
3                  6.769000           7.119000  2017          0
4                  8.097088          10.641313  2017          1
..                      ...                ...   ...        ...
429                2.142000           1.993000  2018          0
430               22.393999          26.256001  2018          0
431                5.271615           5.392213  2018          1
432               10.614000          11.500000  2018          0
433                4.555000           5.087000  2018          0

[434 rows x 13 columns]